{% extends 'base.html' %}
{%load static%}
{% block content%}
<head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">

</head>
<div class="container " >
   
        <center> <h1 class="display-1" style="padding-top: 250px;">{{article.title}}</h1></center>
    
         
       </div>

<div class="container" style="margin-top: 100px;">
        <div class="col-lg-12 col-md-4 col-sm-12">
    <div class="card" style="padding-top: 30px; margin: 10px;">
    
<div class="card-body" style="margin-left: 350px;">
    <img src="{{article.image.url}}" class="img-thumbnail" alt="image" style="padding: 10px;" width="200px" height="100px" >
</div>

            
<div class="container">
        <p>{{article.content | safe | linebreaks}}</p>
    </div>

   

<!-- <div class=" container author">
        <h3 style="color: blue">Written by:</h3><br>
        <h3 style="color: #f5425d ">{{article.writer}}</h3>
</div>  -->
</div>
</div>
</div>


       
       
    
{%endblock%}

<style>
        /* .image-container{
            margin: 20 20 20 20;
        } */
        .article_title{
            text-align: center;
        }
        .author{
            text-align: left;
        }


        </style>
   