{% load static %}
{% load django_bootstrap_breadcrumbs %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{% block title%}{% endblock%}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'Font-Awesome-master/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    
    {% block header %}{% endblock %}
</head>

<body>
        <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="{% url 'blog:home'%}">Jitambue</a>
                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main-navigation">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'blog:home'%}"><i class="fa fa-home fa-2x"></i>&nbsp;Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'blog:knowzone'%}"><i class="fa fa-book fa-2x"></i>&nbsp;Know zone</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'blog:locate_clinic'%}"><i class="fa fa-map-marker fa-2x"></i>&nbsp;Find clinic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout'%}">
                            {% if user.is_authenticated %}
                            <i class="fa fa-id-badge fa-2x"></i>&nbsp;
                        Hello {{ user.username }}
                        <span><a  class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>logout</a></span></li>
                        {% else %}
                        
                        <p> Logged Out </p>
                       
                        <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>login</a>
                            
                        {% endif %} 
                       
                        
                        </a>
                     </li>
                  </ul>
                </div>
        </nav>
        <nav class="breadcrumb">
            {% block breadcrumbs %}
            {% clear_breadcrumbs %}
            {% breadcrumb "Home" " /home/" %}
            {% breadcrumb "knowzone" "/knowzone/" %}
            {% breadcrumb "locate_clinic" "/locate_clinic/" %}
            
            {% render_breadcrumbs %}

            {% endblock %}

        </nav>
        <header class="page-header header container-fluid">
           
           
          
           
                <div class="overlay"></div>
            
               
                      {% block content %}
                     
                      {% endblock %}
                
            </header>

           
    
   
    
    <script type="text/javascript" src="{%static 'scripts/jquery-3.2.1.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'scripts/popper.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js'%}"></script>
    <script  type="text/javascript" src="{%static 'scripts/base.js'%}"></script>
    
</body>

</html>