{% extends 'base.html' %}
{%load static%}

{% block title %}Home{% endblock %}

{% block content %}


<div class="description">
    <h1>Welcome to Jitambue!</h1>
    <p>Having trouble accessing information on your reproductive health?<br></p>
    <p>Jitambue is a platform designed to help you access sexual and Reproductive Health Information while anonymous. It is designed to be used by young people between the age of 11-24 years.<br> It's simple design makes it easy to navigate trhough the site with no trouble.
      Jitambue also allows you to search for a clinic near your location so as you cann access SRH services easily.</p>
      <p>Contact us at: <strong> +254734568907 </strong>or <i> jitambue12@yahoo.com</i></p>
      <a href="{%url 'blog:knowzone'%}" class="btn btn-outline-secondary btn-lg">Tell Me More!</a>
  </div>

{% endblock %}



