{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{%static 'css/knowzone.css'%}">
{% endblock %}

{% block title %}
    <title>knowzone</title>
{% endblock %}

{% block content%}

<div class=" card col s12 m7">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                {% for category in categories %}
                <h4 class="header">
                    <a href="{% url 'blog:articles' category.id %}">{{category.name }}</a>
                </h4>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{%endblock%}