{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{%static 'css/knowzone.css'%}">
{% endblock %}

{% block title %}
    <title>knowzone</title>
{% endblock %}

{% block content%}


        <div class="container">
            <center> <h1 class="display-4">Categories</h1></center>
          <center><p class="lead"><strong>This is are the different categories on Sexual and reproductive health you can explore on.</p></strong></center>
          
        </div>
      
        


<div class="row">
    {% for category in categories %}
<div class="col-sm-3">
<div class="card" style="width: 18rem;margin-top: 10px;">
    <div class="card-body">    
            <img src="{{ category.image.url}}" class="card-img-top" alt="image">
           
      <h5 class="card-title">  <a href="{% url 'blog:articles' category.id %}">{{category.name }}</a></h5>
      <p class="card-text"> {{category.description}}</p>
      <a href="{% url 'blog:articles' category.id %}" class="btn btn-primary">Learn More</a>
     
    </div>
  </div>
</div>
{% endfor %}
</div>


{%endblock%}
