{%load static%}

<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css'%}">


    </head>
    <div id="map"></div>


   
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA213ORBKAXRT_ZXeCCErCv9nyukmS2jYc&libraries=places&callback=initMap"></script>
<script  type="text/javascript" src="{%static 'scripts/locateClinic.js'%}"></script>
   
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA213ORBKAXRT_ZXeCCErCv9nyukmS2jYc&libraries=places&callback=initMap" async defer></script> -->
   
 
  </body>
</html>