<!DOCTYPE html>
{% load static%}
{% load crispy_forms_tags %}

<html lang="en">
    <head>
        <title>
            {% block title %} Jitambue signup{% endblock %}
        </title>
        <link type="text/css" rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'Font-Awesome-master/css/font-awesome.min.css'%}">
        <link type="text/css" rel="stylesheet" href="{%static 'css/account.css'%}">
    </head>

    <body>
        <!-- <div class="container"> -->
            <div class="signup-box">
            <img src="{%static 'images/avatar.jpg'%}" class="avatar" alt="avatar">
            {% block content %}
            <h5 class="center-align">Welcome to Jitambue<br>Signup here</h5>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class="btn btn-primary ">Sign Up</button>
                <span><button type="reset" class="btn btn-secondary ">reset</button></span>
                    
                </form>
                
                <p>Already have an account? Login <a href="{% url 'login' %}"> here</a></p>
            
                {% endblock %}
            </div>

        <!-- </div> -->

    <script type="text/javascript" src="{%static 'scripts/jquery-3.2.1.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'scripts/popper.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js'%}"></script>
            
        
    </body>
    
    
</html>